<style>
.custom-login-pos{
  position: absolute;
  right: 0px;
  top:26%;


}
</style>
<div class="col-sm-8 col-sm-offset-2">

  <div class="well">
        <form class="form-horizontal">

            <div class="form-group">
                <!-- <label for="inputEmail" class="col-lg-2 control-label">Email</label> -->
                <div class="col-sm-1 col-md-1">
                    <i class="mdi-social-person"></i>
                </div>
                <div class="col-sm-9 col-md-9">
                    <input class="form-control" id="inputEmail" placeholder="username" type="email">
                </div>
            </div>

            <div class="form-group">
                <!-- <label for="inputEmail" class="col-lg-2 control-label">Email</label> -->
                <div class="col-sm-1 col-md-1">
                    <i class="mdi-action-accessibility"></i>
                </div>
                <div class="col-sm-9 col-md-9">
                    <input class="form-control" id="inputEmail" placeholder="password" type="password">
                </div>
            </div>
            <br>
            <div class="form-group">
                <!-- <label for="inputEmail" class="col-lg-2 control-label">Email</label> -->

                <div class="col-sm-5 col-md-9">
                  <button class="btn btn-default  " >  forgot password</button>
                </div>
                <div class="col-sm-4 col-md-1">
                  <a href="#/signup" class="btn btn-primary btn-float " > sign up</a>
                </div>
            </div>


            <button class="btn btn-danger btn-float custom-login-pos mdi-navigation-arrow-forward" type="submit"></button>

        </form>
  </div>

</div>
